.contenedor-divisa {
   background-image: linear-gradient(to right, #a50909,#0f0e0f);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 3, 3, 0.822);
}